<form>
  <h1> Votre compte</h1>
  <div>
      <label for="name"> Nom :</label>
      <input type="text" id="name" name="user_name">
  </div>

  <div>
      <label for="name">Prenom :</label>
      <input type="text" id="name" name="user_name">
  </div>
<div>
      <label for="msg">E-mail  :</label>
      <textarea id="msg" name="user_message"></textarea>
  </div>
 
    <div>
      <label for="civilite">civilité  :</label>
    <select id="civilite">
      <option 
      *ngFor="let genre of civilite"
      value="{{genre}}">
      {{genre}}
      </option>
    </select>
</div>

<div>
  <label for="password">Mot de passe :</label>
  <input type="text" id="password" name="user_name">
</div>

<input id="checkBox"  type="checkbox">j'accepte les CGU
<div>
<input type="submit" value="Creer mon compte">
</div>
</form>
